@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

html {
    --primary-color: #f28482;
    --secondary-color: #9c89b8;
    --secondary-color-dark: #6f5f8a;
    --body-background-color: #f1f3f3;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    padding-top: env(safe-area-inset-top);
    background-color: var(--body-background-color);
}


#__nuxt {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


.narrow {
    width: min(100%, 1140px);
    margin: 0 auto;
}

.content {
    display: grid;
    gap: 1rem;
    align-content: flex-start;
}

.page {
    padding: 2rem 1rem;
}

.page__heading {
    margin-bottom: 1rem;
}

input,
textarea,
select {
    border-radius: 0.2rem;
    border-style: none;
    border: grey 2px solid;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    outline: none;
    background-color: rgba(248, 248, 248, 0.744);
}

input:focus,
textarea:focus,
select:focus {
    border-color: var(--primary-color);
}


.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.tile {
    background-color: white;
    border-radius: 0.25rem;
    padding: 1rem;
    overflow: hidden;
}

.tile.inverse {
    background-color: var(--body-background-color);
}

.save-btn {
    margin: 0 auto;
    margin-top: 1rem;
}

.hide {
    visibility: hidden;
}

.grayed-out {
    color: #525252;
    font-size: 0.85rem;
}