@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: black;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #eeeeee;
}

#__nuxt {
    min-height: 100vh;
    display: grid;
}