@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

html {
    --primary-color: #f28482;
    --secondary-color: #9c89b8;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #eeeeee;
}


#__nuxt {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


.narrow {
    width: min(100%, 1140px);
    margin: 0 auto;
}

.page {
    padding: 2rem 1rem;
}

.page__heading {
    margin-bottom: 1rem;
}

input {
    border-radius: 0.2rem;
    border-style: none;
    border: grey 1px solid;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
}

.col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}